body {
    background-color: rgb(223, 247, 255);
    font-family: Bebas Neue, sans-serif;
}

.navbar {
    background-color: rgb(0, 174, 255);
}

.nav .nav-link.active {
    background-color: rgb(0, 60, 255);
    color: white;
}

.nav .nav-link:hover {
    background-color: rgb(0, 120, 255);
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.common-text{
    font-family: Merriweather, serif;
}

.bg-img-1 {
    background-image: url(images/carousel/externa1.jpg);
}

.bg-img-2 {
    background-image: url(images/carousel/interna1.jpg);
}

.carousel-image {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}